/*login*/
.card{
    background-color: #e6e6e6;
}

.rounded-0 {
    border-radius: 10px;
}

.login-btn {
    background-color: #415a75;
    color: #fff;
}

.login-btn:hover {
    background-color: #718aa5;
    color: #fff;
}

/*home*/
.head {
    background-color: #6245a9;
    padding: 30px;
}

.bg-costum {
    background-color: #F3F3F3!important;
}

.title{
    background-color: #ED1C24;
    color: #fff;
    padding: 10px;
}

.list-group-item{
	background-color: #343a40;
	text-align: left;
  width: 100%;
}

#sidebar {
	background-color: #343a40;
	padding: 0px;
}

.no-padding{
	padding: 0px;
}

.tbl-act{
  padding: 0px 6px;
}

.head-table{
  padding: 10px;
}

.dropdown-menu.show {
  margin-left: -120px;
}

.footer-sign {
  color: #334F6F;
  font-weight: bold;
}

footer {
  background-color: #F3F3F3;
  padding: 10px;
}

a {color: #1b1e21;}
a:hover {color: #868e96;}

.table-responsive {
    overflow-x: auto;
    min-height: .01%;
}

.table td, .table th {
    font-size: 12px;
    padding: 5pt;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
}

.logo {
  max-width: 100px;
  max-height: 50px;
}

.btn-excel {
  background-color: #2C8E1E;
  color: #fff;
}

.btn-excel:hover {
  background-color: #207114;
}